---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"; 
import GoBackBtn from "../../components/GoBackBtn.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");

  return recipes.map((recipe) => ({
    params: { id: recipe.slug },
    props: { recipe }
  }))
}

const { recipe } = Astro.props
const { data, slug } = recipe
const { title, img, preptime, author, author_link, ingredients } = data

const { Content } = await render(recipe)

export const prerender = true
---

<Layout title={`${title} | Recetas | Eva Marrez`}>

	<GoBackBtn href='/' />

	<div class="flex flex-col sm:flex-row items-start bg-pink-800/40 rounded-2xl">

		<img transition:name={`img-${slug}`} class="rounded-t-lg sm:m-3 w-full sm:w-1/3 h-auto" src={`/${img}`} alt={title} />

		<main class="p-3">
			<h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>

			{ingredients && (
				<section class="mb-8">
					<h2 class="text-2xl font-semibold mb-2">Ingredientes</h2>
					<ul class="list-disc list-inside space-y-1">
						{ingredients.map((item) => (
						<li>
							{item.quantity ? `${item.name} - ${item.quantity}` : item.name}
						</li>
						))}
					</ul>
				</section>
			)}

			<div class="prose text-pink-950 dark:text-amber-100">
				<Content />
			</div>
		</main>
	</div>
</Layout>